body {
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

.button {
    background-color: #80aaff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}


#search {
  width: 95%;
  position: absolute;
  text-align: right;
  color: #black;
  cursor: pointer;
  font-size: 20px;
  top: 5px;
}
