div {
    margin: 7px;
    border: 1px solid #4CAF50;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}


h1{
  color: rgba(0, 0, 0, 1);
  background: rgb(204, 204, 255);
  background: linear-gradient(bottom, rgba(204, 204, 255, .6), rgba(204, 204, 255, .6));
  background: -webkit-linear-gradient(bottom, rgba(204, 204, 255, .6), rgba(204, 204, 255, .6));
  background: -moz-linear-gradient(bottom, rgba(204, 204, 255, .6), rgba(204, 204, 255, .6));
  padding: 10px;
  line-height: 15px;
  text-align: center;
  position: center;
  bottom: 0;
  margin: 0;
}

p {
  color: rgb(0, 0, 0, 1);
  background: rgb(204, 204, 255);
  background: linear-gradient(bottom, rgba(204, 204, 255, .6), rgba(204, 204, 255, .6));
  background: -webkit-linear-gradient(bottom, rgba(204, 204, 255, .6), rgba(204, 204, 255, .6));
  background: -moz-linear-gradient(bottom, rgba(204, 204, 255, .6), rgba(204, 204, 255, .6));
  padding: 5px;
  line-height: 28px;
  text-align: justify;
  position: left;
  bottom: 0;
  margin: 0;
}
