body {
  background-size: cover;
  background-position: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

h1{
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0, 0, 0, .4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0, 0, 0, .4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0, 0, 0, .4));
  padding: 5px;
  line-height: 28px;
  text-align: justify;
  position: center;
  bottom: 0;
  margin: 0;
}

p {
  color: rgba(255,255,255,1);
  font-weight: bold;
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0, 0, 0, .4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0, 0, 0, .4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0, 0, 0, .4));
  padding: 5px;
  line-height: 28px;
  text-align: justify;
  position: left;
  bottom: 0;
  margin: 0;
}
