@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{

  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

.button {
    background-color: rgba(128, 170, 255, 1);
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    cursor: pointer;

}

p {
  text-align: center;
}

h1 {
  color: #80aaff;
  font-size: 20px;
  text-align: center;
  font-family: courier-header;
}

h2 {
  font-size: 15px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  top: 5px;
}

#search {
  width: 95%;
  position: absolute;
  text-align: right;
  color: #black;
  cursor: pointer;
  font-size: 20px;
  top: 5px;
}

#middle.color-info {
    color: rgba(0, 0, 0, 1);
    background: rgb(255, 255, 255);
    background: linear-gradient(bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, .9));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9));
    background: -moz-linear-gradient(bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .9));
    padding: 5px;
    line-height: 25px;
    text-align: center;
    position: center;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

#events.color-info {
  color: #6699ff;
  background-color: #ffcc66;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 14px;
  position: absolute;
    top: 275px;
    right: 0;
    width: 400px;
    height: 218px;
}

#IMDb.color-info {
  color: #6699ff;
  background-color: #ffcc66;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 14px;
  position: absolute;
    top: 275px;
    left: 0;
    width: 400px;
    height: 218px;
  }
