

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

p{
  text-align: center;
}

h1 {
  color: black;
  font-size: 20px;
  text-align: center;
}
h2{
  font-size: 15px;
  text-align: center;
}
h3{
  text-align: center;
  font-size: 17px;
}
ul.nav li {
    text-align: center;
    display: inline-block;
    padding-right: 10px;
    top: 10%;
    left: 80%;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

body{

  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: static;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 15%;
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-20%, -80%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}


#events.color-info {
  color: blue;
  background-color: #6495ED;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 14px;
  position: absolute;
    top: 300px;
    right: 0;
    width: 400px;
    height: 209px;
}

#IMDb.color-info {
  color: orange;
  background-color: #FFEBCD;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  font-size: 14px;
  position: absolute;
    top: 300px;
    left: 0;
    width: 400px;
    height: 209px;
  }
