@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu{
  width:100%
  overflow:auto;
}
.menu ul{
  margin:0;
  padding:0;
  list-style:none;
  line-height:30px;
}
.menu li{
  float:left;
}
.menu ul li a{
  background: rgba(230, 0, 0, .8);
  display: inline;
  padding: 7px;
  color: white;
  text-decoration: none;
  text-align:center;
  font-size: 18px;
  font-family:sans-serif;
  letter-spacing: 0.5px;
}

.menu li a:hover {
  color:#fff;
  opacity: .5px;
  font-size: 19px;

}
.search-form{
  margin-top:15px;
  float:right;
  margin-right:100px;
}
input[type=text] {
  padding:7px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
}
button{
  float:right;
  background: #e60000;
  color:white;
  border-radius:0 5px 5px 0;
  cursor: pointer;
  position:relative;
  padding:7px;
  font-family: sans-serif;
  border:none;
  font-size: 16px;
}

h3{
  text-align: center;
  font-size: 20px;
}

h3 a{
  color: white;

}
p{
  text-align:center;
  font-size: 22px;
}
h1{
  color: #0E0B75;
  font-size: 30px;
  text-align: center;
  font-family: courier-header;
  /* Starting position */
  -moz-transform:translateY(8%);
  -webkit-transform:translateY(8%);
  transform:translateY(8%);
  /* Apply animation to this element */
  -moz-animation: scroll-up 7s linear infinite;
  -webkit-animation: scroll-up 7s linear infinite ;
  animation: scroll-up 7s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes scroll-up {
  40%   { -moz-transform: translateY(40%); }
  40% { -moz-transform: translateY(-40%); }
 }
 @-webkit-keyframes scroll-up {
  20%   { -webkit-transform: translateY(20%); }
  20% { -webkit-transform: translateY(-20%); }
 }
 @keyframes scroll-up {
  20%   {
  -moz-transform: translateY(20%); /* Browser bug fix */
  -webkit-transform: translateY(20%); /* Browser bug fix */
  transform: translateY(20%);
  }
  20% {
  -moz-transform: translateY(-20%); /* Browser bug fix */
  -webkit-transform: translateY(-20%); /* Browser bug fix */
  transform: translateY(-20%);
  }
}

h2 {
  font-size: 25px;
  text-align: center;
}



#middle.color-info {
    color: rgba(0, 0, 0, 1);
    line-height: 20px;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;
    position: center;
    height:218px;
    top: 310px;

}

#events.color-info {
  color: #6699ff;
  font-size: 18px;
  position: absolute;
    top: 110px;
    right: 0;
    width: 200px;
    height: 400px;
}

#IMDb.color-info {
  color: #6699ff;
  border-width: 1px;
  font-size: 18px;
  position: absolute;
    top: 110px;
    left: 0;
    width: 200px;
    height: 400px;
  }
