@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);

html {
  background:  url(http://homdor.com/public/anonymous/queasyfancyarctichare?g=aHR0cHM6Ly90aHVtYnMuZ2Z5Y2F0LmNvbS9RdWVhc3lGYW5jeUFyY3RpY2hhcmUtc2l6ZV9yZXN0cmljdGVkLmdpZg==) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-family: 'Advent Pro', sans-serif;
  font-size: 80px;
  margin: .2em .5em;
  color: rgba(255,255,255, 0.7);
}

p {
  font-family: 'Advent Pro', sans-serif;
  font-size: 60px;
  margin: .2em .5em;
  color: rgba(255,255,255, .7);
}

body {
    height: 100%;
}

body {
  background-position: center;
  text-align: center;
  background-size: 1300px 1000px;
  color: white;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

button {
   background-color: rgba(210,180,140,.7);
   border-width: 1.5px;
   border-color: #D2B48C;
   color: white;
   font-weight: bold;
   padding: 10px 18px;
   text-align: center;
   font-size: 25px;
   margin-top: 5%;
   cursor: pointer;
}
